@charset "UTF-8";
/*--------------INICIO ESTILOS GLOBALES-----------------*/
/* inicio navegacion  */
.navbar {
  background-color: #fff9f9;
  background-image: linear-gradient(129deg, #ffffff 0%, #ffbcbc 70%);
}
.navbar .container-fluid .navbar-brand {
  color: rgb(19, 18, 18) !important;
  font-size: 25pt;
}
.navbar .container-fluid .navbar-brand span {
  color: rgb(255, 77, 77);
  font-size: 25pt;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  color: rgb(19, 18, 18) !important;
  font-size: 18pt;
  border-bottom: 3px solid transparent;
  margin: 0 10px !important;
  padding: 0 8px;
  transition: all 0.3s;
}
.navbar .container-fluid .navbar-nav .nav-item a:hover {
  border-bottom: 2px solid red;
  transform: scale(1.07);
}

/* fin navegacion  */
/* footer */
footer {
  background-color: rgb(19, 18, 18);
  color: rgb(255, 255, 255);
  /* height: 100px; */
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

footer p {
  margin-bottom: 10px;
}

footer .redes a {
  color: rgb(255, 77, 77);
  font-size: 50px;
  letter-spacing: 20px;
}

/* footer */
@media (min-width: 576px) and (max-width: 991px) {
  .navbar-nav {
    /* Oculta la lista de enlaces en tablets */
  }
  .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    font-size: 9pt;
    padding: 0 1px;
  }
  .navbar-toggler .navbar-toggler-icon {
    font-size: 1.5em;
    /* Cambia el tamaño del icono de la hamburguesa a 1.5em */
  }
  .contenedor_navv {
    padding-right: 1rem;
    /* Agrega espacio a la derecha del botón de la hamburguesa para separarlo del borde */
  }
}
@media only screen and (max-width: 392px) {
  /* nav */
  .contenedor_navv {
    padding: 0 0px !important;
  }
}
@media (min-width: 393px) and (max-width: 991px) {
  .contenedor_navv {
    padding: 0 5px !important;
    /* background-color: rgb(75, 75, 75); */
  }
}
@media (min-width: 10px) and (max-width: 991px) {
  .navbar {
    background-image: linear-gradient(129deg, #000000 0%, #390101 70%);
  }
  .contenedor_navv {
    background-color: rgb(65, 65, 65) !important;
  }
  .navbar .container-fluid .navbar-brand {
    color: rgb(255, 255, 255) !important;
  }
  .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255) !important;
  }
  footer {
    font-size: 10pt;
  }
}
/*--------------FIN ESTILOS GLOBALES-----------------*/
.contenedora_contactos {
  width: 100%;
  height: 1350px;
  background-color: rgb(65, 65, 65);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedora_contactos .contenedor_cont_grid {
  width: 1260px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 240px);
}
.contenedora_contactos .cardcard {
  width: 600px;
  height: 200px;
  justify-self: center;
  align-self: center;
  border: 2px solid rgb(19, 18, 18);
  border-radius: 10px;
  background-color: #fff9f9;
  background-image: linear-gradient(0deg, #ffffff 0%, #ffd5d5 50%);
  border: none;
}
.contenedora_contactos .imgimg {
  /* background-color: RED; */
  height: 200PX;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedora_contactos .imgimg .LOGOS_CONTACTOS {
  font-size: 200PX;
  color: rgb(255, 77, 77);
}
.contenedora_contactos .imgimg .TIKTOK {
  font-size: 170px;
}
.contenedora_contactos .card-title {
  font-size: 25pt;
  color: rgb(65, 65, 65);
}
.contenedora_contactos .card-text {
  color: rgb(65, 65, 65);
}
.contenedora_contactos .botonVerMas {
  background-color: rgb(255, 77, 77);
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  border-radius: 5px;
  padding: 7px 25px;
}
.contenedora_contactos .botonVerMas:hover {
  background-color: rgba(255, 0, 0, 0.301);
  color: rgb(255, 255, 255);
}

.caja_ubicacion {
  height: 600PX;
  width: 1000px;
  margin-top: 20px;
}
.caja_ubicacion H2 {
  font-size: 30pt;
  color: rgb(255, 77, 77) !important;
}

@media only screen and (min-width: 100px) and (max-width: 670px) {
  .contenedora_contactos {
    padding: 50px 0 0 0;
  }
  .contenedora_contactos .contenedor_cont_grid {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 230px);
    /* background-color: red; */
  }
  .contenedora_contactos .cardcard {
    width: 100%;
    display: flex;
    flex-direction: row !important;
  }
  .contenedora_contactos .imgimg {
    height: auto;
    width: auto !important;
    position: absolute;
    position: absolute;
    justify-content: none;
    top: 10px;
    left: 10px;
    align-items: none;
  }
  .contenedora_contactos .imgimg .LOGOS_CONTACTOS {
    font-size: 45pt;
  }
  .caja_red {
    /* background-color: aqua;  */
    flex-wrap: nowrap;
  }
  .contenedora_contactos .card-title {
    margin-left: 60px;
    margin-top: 5px;
  }
  .card-text {
    margin-top: 12px;
    font-size: 13px;
  }
  .contenedora_contactos .botonVerMas {
    padding: 5px 15px;
  }
  .mapa_responsive {
    height: 30vh !important;
    width: 100%;
  }
  .caja_ubicacion {
    height: 300PX;
    width: auto;
    margin-top: 20px;
  }
  .caja_ubicacion .caja_ubicacion H2 {
    font-size: 20pt;
  }
}
@media only screen and (min-width: 671px) and (max-width: 991px) {
  .contenedora_contactos {
    padding: 50px 0 0 0;
  }
  .contenedora_contactos .contenedor_cont_grid {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 230px);
  }
  .contenedora_contactos .cardcard {
    width: 100%;
  }
  .contenedora_contactos .imgimg {
    height: auto;
    width: auto !important;
    position: absolute;
    position: absolute;
    justify-content: none;
    top: 10px;
    left: 10px;
    align-items: none;
  }
  .contenedora_contactos .imgimg .LOGOS_CONTACTOS {
    font-size: 45pt;
  }
  .caja_red {
    flex-wrap: nowrap;
  }
  .contenedora_contactos .card-title {
    margin-left: 60px;
    margin-top: 5px;
  }
  .card-text {
    margin-top: 12px;
    font-size: 13px;
  }
  .contenedora_contactos .botonVerMas {
    padding: 5px 15px;
  }
  .mapa_responsive {
    height: 30vh !important;
    width: 100%;
  }
  .caja_ubicacion {
    height: auto;
    width: 90%;
    /* background-color: aqua; */
    margin-top: 20px;
  }
  .caja_ubicacion .caja_ubicacion H2 {
    font-size: 20pt;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1270px) {
  .contenedora_contactos .contenedor_cont_grid {
    width: 90%;
    grid-template-rows: repeat(2, 230px);
  }
  .contenedora_contactos .cardcard {
    width: 90%;
  }
  .contenedora_contactos .imgimg .LOGOS_CONTACTOS {
    font-size: 100pt;
  }
  .card-text {
    font-size: 10pt;
  }
}/*# sourceMappingURL=contactos.css.map */