@charset "UTF-8";
/*--------------INICIO ESTILOS GLOBALES-----------------*/
/* inicio navegacion  */
.navbar {
  background-color: #fff9f9;
  background-image: linear-gradient(129deg, #ffffff 0%, #ffbcbc 70%);
}
.navbar .container-fluid .navbar-brand {
  color: rgb(19, 18, 18) !important;
  font-size: 25pt;
}
.navbar .container-fluid .navbar-brand span {
  color: rgb(255, 77, 77);
  font-size: 25pt;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  color: rgb(19, 18, 18) !important;
  font-size: 18pt;
  border-bottom: 3px solid transparent;
  margin: 0 10px !important;
  padding: 0 8px;
  transition: all 0.3s;
}
.navbar .container-fluid .navbar-nav .nav-item a:hover {
  border-bottom: 2px solid red;
  transform: scale(1.07);
}

/* fin navegacion  */
/* footer */
footer {
  background-color: rgb(19, 18, 18);
  color: rgb(255, 255, 255);
  /* height: 100px; */
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

footer p {
  margin-bottom: 10px;
}

footer .redes a {
  color: rgb(255, 77, 77);
  font-size: 50px;
  letter-spacing: 20px;
}

/* footer */
@media (min-width: 576px) and (max-width: 991px) {
  .navbar-nav {
    /* Oculta la lista de enlaces en tablets */
  }
  .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    font-size: 9pt;
    padding: 0 1px;
  }
  .navbar-toggler .navbar-toggler-icon {
    font-size: 1.5em;
    /* Cambia el tamaño del icono de la hamburguesa a 1.5em */
  }
  .contenedor_navv {
    padding-right: 1rem;
    /* Agrega espacio a la derecha del botón de la hamburguesa para separarlo del borde */
  }
}
@media only screen and (max-width: 392px) {
  /* nav */
  .contenedor_navv {
    padding: 0 0px !important;
  }
}
@media (min-width: 393px) and (max-width: 991px) {
  .contenedor_navv {
    padding: 0 5px !important;
    /* background-color: rgb(75, 75, 75); */
  }
}
@media (min-width: 10px) and (max-width: 991px) {
  .navbar {
    background-image: linear-gradient(129deg, #000000 0%, #390101 70%);
  }
  .contenedor_navv {
    background-color: rgb(65, 65, 65) !important;
  }
  .navbar .container-fluid .navbar-brand {
    color: rgb(255, 255, 255) !important;
  }
  .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255) !important;
  }
  footer {
    font-size: 10pt;
  }
}
/*--------------FIN ESTILOS GLOBALES-----------------*/
body {
  background-image: url(../assents/wall-769963_1280.webp);
  background-position: center;
  background-size: cover;
}

.galeria {
  background-color: rgba(255, 255, 255, 0.562);
  width: 70%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10, 100px);
  /* padding: 20px; */
  grid-gap: 20px;
  margin: 100px auto;
  border-radius: 10px;
  margin-bottom: 320px;
}
.galeria .item {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.galeria .item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60pt;
  margin-bottom: 30px;
  grid-column: 2/3;
  grid-row: 2/2;
}
.galeria .item1 span {
  color: red;
}
.galeria .item2 {
  background-image: url(../assents/foto_modelo.webp);
  background-size: cover;
  background-position: top;
  grid-column: 1/2;
  grid-row: 1/11;
}
.galeria .item3 {
  font-size: 20pt;
  grid-column: 2/3;
  grid-row: 3/10;
  text-align: center;
  padding: 0 50px;
  /* padding-top: 70px; */
}

@media only screen and (min-width: 100px) and (max-width: 435px) {
  .galeria {
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 50px);
    width: 90%;
  }
  .galeria .item {
    /* background-color: aqua; */
    font-size: 10pt;
    grid-column: 1/1;
    grid-row: 1/2;
    margin: 0;
    font-size: 25pt;
    padding-top: 20px;
  }
  .galeria .item2 {
    display: none;
  }
  .galeria .item3 {
    /* background-color: rgb(134, 92, 35); */
    font-size: 10px;
    grid-column: 1/2;
    grid-row: 2/7;
    font-size: 9pt;
    padding: 0 10px;
  }
}
@media only screen and (min-width: 436px) and (max-width: 1300px) {
  .galeria {
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 50px);
    width: 90%;
    padding: 0 20px;
  }
  .galeria .item1 {
    /* background-color: aqua; */
    font-size: 40pt;
    grid-column: 1/1;
    grid-row: 1/2;
    margin: 0;
    padding-top: 20px;
  }
  .galeria .item2 {
    display: none;
  }
  .galeria .item3 {
    /* background-color: rgb(134, 92, 35); */
    font-size: 15pt;
    grid-column: 1/2;
    grid-row: 2/7;
    padding: 0 10px;
  }
}/*# sourceMappingURL=nosotros.css.map */