
@import'global';
body{
    background-color: $colorGrisOscuro ;
}
.cajaContenedora {
    width: 1210px;
    height: 1320px;
    margin: auto;
    margin-top: 20px;
    padding-top: 30px;

    .caja_contenedora_grid {
        /* width: 1210px; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 550px);
        /* background-color: red; */
        margin: 0px auto 0px;
    }

    .cardcardcard {
        justify-self: center;
        align-self: center;
        border: none;
        background-color: #fff9f9;
        background-image: linear-gradient(15deg, #000000 0%, #ff4d4d 40%);
        border: none;

        .img_des2 {
            height: 355px;
            object-fit: cover;
        
        }
        .card-body{
            .card-title{
                color: $colorBlancoCrema;
            }
            .card-text{
                color: $colorBlancoCrema;
            }
            .BOTON_comprar {
                background-color: $colorRojo;
                border: none;
                transition: all 0.3s;
            }
            .BOTON_comprar:hover {
                background-color:rgb(243, 125, 125);
                transform: scale(1.05);
            }
        }
    }
}





.container {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;

    .tamañoo {
        width: 300px;
    }

    .container .tamaño_boton {
        width: auto;
    }
    .container .tamañoo button {
        background-color: $colorRojo ; 
        border: none;
    }
    .container.tamañoo button:hover {
        background-color: rgb(231, 133, 133);
        border: none;
    }
    
}


@media only screen and (min-width:100px) and (max-width: 670px) {
    .cajaContenedora .caja_contenedora_grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,550px);
    }

    .cajaContenedora{
        width: 100%;
        height: 3550px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .tamañoo {
        width: 100px;
        padding: 0 4px;
    }
    .container .tamaño_boton{
        width: auto;
    }
    .sig_pagina{
        width: 300px;
        padding: 0 !important;
        /* background-color: red; */
    }
}

@media only screen and (min-width:671px) and (max-width: 991px) {
    .cajaContenedora .caja_contenedora_grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,450px);
        width: 400px;
        min-width: 650px;
    }

    .cajaContenedora{
        width: 100%;
        height: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cajaContenedora .cardcardcard{
        width: 250px !important;
        height: 400px !important;

    }
    
    .cajaContenedora .cardcardcard img{
        height: 250px !important;
    }

    .card-title{
        font-size: 14pt;
    }
    .BOTON_comprar{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .container .tamañoo {
        width: 200px;
        padding: 0 10px;
    }
    .container .tamaño_boton{
        width: auto;
    }
    .sig_pagina{
        width: 580px;
        padding: 0 !important;
        /* background-color: red; */
    }
}
