@charset "UTF-8";
/*--------------INICIO ESTILOS GLOBALES-----------------*/
/* inicio navegacion  */
.navbar {
  background-color: #fff9f9;
  background-image: linear-gradient(129deg, #ffffff 0%, #ffbcbc 70%);
}
.navbar .container-fluid .navbar-brand {
  color: rgb(19, 18, 18) !important;
  font-size: 25pt;
}
.navbar .container-fluid .navbar-brand span {
  color: rgb(255, 77, 77);
  font-size: 25pt;
}
.navbar .container-fluid .navbar-nav .nav-item .nav-link {
  color: rgb(19, 18, 18) !important;
  font-size: 18pt;
  border-bottom: 3px solid transparent;
  margin: 0 10px !important;
  padding: 0 8px;
  transition: all 0.3s;
}
.navbar .container-fluid .navbar-nav .nav-item a:hover {
  border-bottom: 2px solid red;
  transform: scale(1.07);
}

/* fin navegacion  */
/* footer */
footer {
  background-color: rgb(19, 18, 18);
  color: rgb(255, 255, 255);
  /* height: 100px; */
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

footer p {
  margin-bottom: 10px;
}

footer .redes a {
  color: rgb(255, 77, 77);
  font-size: 50px;
  letter-spacing: 20px;
}

/* footer */
@media (min-width: 576px) and (max-width: 991px) {
  .navbar-nav {
    /* Oculta la lista de enlaces en tablets */
  }
  .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    font-size: 9pt;
    padding: 0 1px;
  }
  .navbar-toggler .navbar-toggler-icon {
    font-size: 1.5em;
    /* Cambia el tamaño del icono de la hamburguesa a 1.5em */
  }
  .contenedor_navv {
    padding-right: 1rem;
    /* Agrega espacio a la derecha del botón de la hamburguesa para separarlo del borde */
  }
}
@media only screen and (max-width: 392px) {
  /* nav */
  .contenedor_navv {
    padding: 0 0px !important;
  }
}
@media (min-width: 393px) and (max-width: 991px) {
  .contenedor_navv {
    padding: 0 5px !important;
    /* background-color: rgb(75, 75, 75); */
  }
}
@media (min-width: 10px) and (max-width: 991px) {
  .navbar {
    background-image: linear-gradient(129deg, #000000 0%, #390101 70%);
  }
  .contenedor_navv {
    background-color: rgb(65, 65, 65) !important;
  }
  .navbar .container-fluid .navbar-brand {
    color: rgb(255, 255, 255) !important;
  }
  .navbar .container-fluid .navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255) !important;
  }
  footer {
    font-size: 10pt;
  }
}
/*--------------FIN ESTILOS GLOBALES-----------------*/
/* cartel 10% de descuento inicio */
.fondo-header-index {
  background-image: url("../assents/accesorios-oversize.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 1000px;
  padding: 170px 0 0 100px;
  border-radius: 0px !important;
}
.fondo-header-index .titulo {
  font-size: 200px;
  color: rgb(255, 77, 77);
  margin: 0;
}
.fondo-header-index .titulo span {
  font-size: 140px;
  color: rgb(255, 255, 255);
}
.fondo-header-index .mensaje_descuento {
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
}

/* cartel 10% de descuento fin */
/* tarjetas pendas destacadas inicio */
.contenedora_destacados {
  background-color: rgb(65, 65, 65);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 200px 0;
}
.contenedora_destacados .linea_destacados {
  background-color: rgb(255, 77, 77);
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 50px;
}
.contenedora_destacados .linea_destacados .titulo_destacado h3 {
  font-size: 50pt;
  background-color: rgb(65, 65, 65);
  text-align: center;
  padding: 0 30px;
  color: rgba(221, 221, 221, 0.8);
}

.contenedor_tarjetas {
  display: flex;
  width: 80%;
  /* background-color: aqua; */
  margin-top: 90px;
}
.contenedor_tarjetas .cardcardcard {
  background-color: #fff9f9;
  background-image: linear-gradient(15deg, #000000 0%, #ff4d4d 40%);
  border: none;
  border-radius: 15px;
}
.contenedor_tarjetas .cardcardcard .img_des {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.contenedor_tarjetas .cardcardcard .card-body .card-title {
  color: rgb(255, 255, 255);
}
.contenedor_tarjetas .cardcardcard .card-body .card-text {
  color: rgb(255, 255, 255);
}
.contenedor_tarjetas .cardcardcard .card-body .BOTON_comprar {
  background-color: rgb(255, 77, 77);
  border: none;
  transition: all 0.3s;
}
.contenedor_tarjetas .cardcardcard .card-body .BOTON_comprar:hover {
  background-color: rgb(243, 125, 125);
  transform: scale(1.05);
}

/* tarjetas pendas destacadas fin */
/* inicio media*/
@media only screen and (max-width: 392px) {
  .fondo-header-index .titulo {
    font-size: 50px;
  }
  .fondo-header-index .titulo span {
    font-size: 40px;
  }
  .fondo-header-index .mensaje_descuento {
    font-size: 10pt;
  }
  .fondo-header-index {
    padding: 20px;
    height: 240px;
    background-position: left;
  }
}
@media (min-width: 393px) and (max-width: 991px) {
  .fondo-header-index {
    height: 400px;
    padding: 60px 0 0 60px;
  }
  .fondo-header-index .titulo {
    font-size: 50px;
  }
  .fondo-header-index .titulo span {
    font-size: 40px;
  }
  .fondo-header-index .mensaje_descuento {
    font-size: 10pt;
  }
}
@media (min-width: 10px) and (max-width: 991px) {
  .contenedora_destacados .linea_destacados .titulo_destacado h3 {
    font-size: 20pt;
    /* display: none; */
    padding: 0 10px;
  }
  .contenedora_destacados {
    /* background-color: aqua; */
    width: 100%;
    margin: auto;
    padding: 40px 0 50px 0;
  }
  .cardcardcard {
    width: 300px !important;
    margin: 20px 0;
  }
  .contenedor_tarjetas .cardcardcard .img_des {
    height: 270px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contenedor_tarjetas {
    flex-direction: column;
    padding: 0 !important;
    /* background-color: red; */
    min-width: 20px;
    width: 100%;
    margin-top: 30px;
    align-items: center;
  }
}
@media (min-width: 991px) and (max-width: 1600px) {
  .contenedor_tarjetas {
    width: 95%;
  }
  .contenedor_tarjetas .cardcardcard {
    background-color: beige;
    width: 300px !important;
  }
}/*# sourceMappingURL=color.css.map */